In [21]:
import pandas as pd
from datetime import datetime
import os
from dotenv import load_dotenv, find_dotenv
import openai

In [22]:
df = pd.read_csv('./data/cleaned-youtube-desk-setup.csv')
df.head()

,video_id,title,channel,release_date,transcript_text,word_count
0,gYgaxdUAAS0,My NEW Ultimate Desk &amp; Setup Tour 2023!,Techno Tim,2023-10-21 15:00:58,What's up everyone? How's it going? So this pa...,3674
1,8cZtbjI5FnQ,My NEW Ultimate Desk Setup &amp; Office Tour 2...,UrAvgConsumer,2023-09-30 16:21:44,what's going on guys it's your average consume...,2856
2,D43lCHSdrSo,The ALL-ROUNDER Desk Setup - Build &amp; Tour ...,ThisIsE,2023-10-21 13:18:22,this video is brought to you by ug green I've ...,2528
3,KwW-m69tAz8,My ultimate DREAM desk setup (2023),Patrick Rambles,2023-07-04 13:00:13,so guys ever since I've moved into this new st...,3168
4,SjcvBFfMulY,My Productivity Desk Setup (2023),Ali Abdaal,2023-09-19 13:00:32,foreign welcome back to the channel and to m...,4503

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   video_id         722 non-null    object
 1   title            722 non-null    object
 2   channel          722 non-null    object
 3   release_date     722 non-null    object
 4   transcript_text  722 non-null    object
 5   word_count       722 non-null    int64
dtypes: int64(1), object(5)
memory usage: 34.0+ KB

In [24]:
df['release_date'] = pd.to_datetime(df['release_date'])
df['video_id'].drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722 entries, 0 to 721
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   video_id         722 non-null    object
 1   title            722 non-null    object
 2   channel          722 non-null    object
 3   release_date     722 non-null    datetime64[ns]
 4   transcript_text  722 non-null    object
 5   word_count       722 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 34.0+ KB

In [25]:
df.head()

,video_id,title,channel,release_date,transcript_text,word_count
0,gYgaxdUAAS0,My NEW Ultimate Desk &amp; Setup Tour 2023!,Techno Tim,2023-10-21 15:00:58,What's up everyone? How's it going? So this pa...,3674
1,8cZtbjI5FnQ,My NEW Ultimate Desk Setup &amp; Office Tour 2...,UrAvgConsumer,2023-09-30 16:21:44,what's going on guys it's your average consume...,2856
2,D43lCHSdrSo,The ALL-ROUNDER Desk Setup - Build &amp; Tour ...,ThisIsE,2023-10-21 13:18:22,this video is brought to you by ug green I've ...,2528
3,KwW-m69tAz8,My ultimate DREAM desk setup (2023),Patrick Rambles,2023-07-04 13:00:13,so guys ever since I've moved into this new st...,3168
4,SjcvBFfMulY,My Productivity Desk Setup (2023),Ali Abdaal,2023-09-19 13:00:32,foreign welcome back to the channel and to m...,4503

In [30]:
for index, row in df.iterrows():
    if 'Mac' in row['transcript_text']:
        df.loc[index, 'OS'] = 'Mac'
    elif 'PC' in row['transcript_text'] or 'Windows' in row['transcript_text']:
        df.loc[index, 'OS'] = 'PC'
    else:
        df.loc[index, 'OS'] = 'NA'

In [31]:
df['OS'].value_counts()

OS
Mac    505
PC     122
NA      95
Name: count, dtype: int64

In [28]:
df[df['OS']=='NA'].sample(5)

,video_id,title,channel,release_date,transcript_text,word_count,OS
621,1MZ28zxEPjE,How to Build Your Own ANIMATION STUDIO SETUP |...,NobleFrugal Studio,2023-03-12 14:00:11,let's put together an ergonomic digital art w...,2046,NA
575,gZzjuUDM6kQ,My Work From Home Office Setup 2023,Chris Palmer,2023-10-01 13:00:35,what's going on guys welcome back to another v...,1341,NA
695,NFZnkICPSH8,The Modern DREAM Home Theater Room Makeover 2023,Mike Wat,2023-04-10 14:15:02,- This video is sponsored by Sennheiser. (intr...,4746,NA
370,IUUx8Bp1KTY,My Dream Office Tour 2023,Christopher Balladarez,2023-10-23 14:25:57,I've always wanted an office that I could walk...,885,NA
627,EgIqPa1COEU,My Apartment Tour - Living In Toronto,Canoopsy,2023-09-23 16:04:07,foreign this is my home come on in okay so I'...,3909,NA